@import '~element-ui/lib/theme-chalk/index.css';

// Variables
@import 'variables';

.has-error .el-input__inner {
  border-color: #dd4b39;
}

.help-block {
  width: 100%;
  text-align: left !important;
  color: #dd4b39;
}
.login-box .input-group input {
  width: 100%;
}
.has-error input {
  border-color: #dd4b39;
}

.navbar .dropdown-menu {
  right: 0;
  left: unset;
}